:root {
  --btn: #2f80ed;

  --positive-color: #27ae60;
  --negative-color: #ff6b6b;

  --primary-text-color: #35393c;
  --secondary-text-color: #454851;

  --white: #ffffff;
  --bg-light-color: #fbfbff;
  --bg-input-color: #d3d5d4;
  --inform-color: #6366f1;
  --warning-color: #fbbf24;

  --placeholder-color: #98a2b3;

  --border-primary-color: #d9d9d9;
  --outline-primary-color: #d1e9ff;
}

$box-shadow-card: rgba(0, 0, 0, 0.08);
